{% if site.data.projects %}
<section class="section projects-section">

  <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>

  {% if site.data.projects.intro %}
  <div class="intro">
      <p style="text-align:justify">{{ site.data.projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in site.data.projects.projects %}
    <div class="item" style='text-align:justify;'>>

      <span class="project-title"><a href="{{ project.link }}">{{ project.title }}</a></span>

      {% if project.tagline %}
      - <span class="project-tagline" >{{ project.tagline }}</span>
       {% if project.module1 %}
        <p>{{ project.module1 }}</p>
       {% endif %}
       {% if project.module2 %}
        <p>{{ project.module2 }}</p>
       {% endif %}
       {% if project.module3 %}
        <p>{{ project.module3 }}</p>
       {% endif %}
       {% if project.module4 %}
        <p>{{ project.module4 }}</p>
       {% endif %}
       {% if project.module5 %}
        <p>{{ project.module5 }}</p>
       {% endif %}
      
      {% endif %}
      
      
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
